@import '../../../../styles/variables';
@import '../../../../styles/functions';

.wrapper_option {
  display: grid;
  padding: adapt(15px, 1440px) 0px;
  font-size: 1rem;
  /*TABLE*/
  @media (max-width: 991.98px) {
    padding: adapt(25px, 1440px) 0px;
    font-size: 1.2rem;
  }

  @media (max-width: 767.98px) {
    padding: adapt(35px, 1440px) 0px;
    font-size: 1.4rem;
  }

  @media (max-width: 767.98px) {
    // display: grid;
    display: block;
  }

  >.index {
    text-align: center;
  }

  >.name {
    font-weight: 600;

    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  >.block__checkbox {
    position: relative;
    display: flex;
    align-items: center;

    // @media (max-width: 767.98px) {
    //   margin-top: adapt(46px, 1440px);
    // }

    >.checkbox {
      position: absolute;
      z-index: 1;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 991.98px) {
        width: adapt(28px, 1440px);
        height: adapt(28px, 1440px);
      }

      @media (max-width: 767.98px) {
        width: adapt(88px, 1440px);
        height: adapt(88px, 1440px);
      }
    }

    >.circle {
      width: adapt(18px, 1440px);
      height: adapt(18px, 1440px);
      border-radius: 50%;
      border: 2px solid $color_eight;

      /*TABLE*/
      @media (max-width: 991.98px) {
        width: adapt(28px, 1440px);
        height: adapt(28px, 1440px);
      }

      @media (max-width: 767.98px) {
        width: adapt(88px, 1440px);
        height: adapt(88px, 1440px);
      }
    }

    >.check {
      background-color: $color_eight;
    }
    
    >.square {
      width: adapt(18px, 1440px);
      height: adapt(18px, 1440px);
      border: 2px solid $color_eight;
      /*TABLE*/
      @media (max-width: 991.98px) {
        width: adapt(28px, 1440px);
        height: adapt(28px, 1440px);
      }

      @media (max-width: 767.98px) {
        width: adapt(88px, 1440px);
        height: adapt(88px, 1440px);
      }
    }

    >.image__checkbox {
      width: adapt(25px, 1440px);
      height: adapt(25px, 1440px);
      padding-bottom: adapt(3px, 1440px);
      /*TABLE*/
      @media (max-width: 991.98px) {
        width: adapt(35px, 1440px);
        height: adapt(35px, 1440px);
        padding-bottom: adapt(6px, 1440px);
      }

      @media (max-width: 767.98px) {
        width: adapt(95px, 1440px);
        height: adapt(95px, 1440px);
      }
    }
  }
}

.block__action {
  display: flex;
  gap: adapt(10px, 1440px);

  /*TABLE*/
  @media (max-width: 991.98px) {
    gap: adapt(15px, 1440px);
  }

  @media (max-width: 767.98px) {
    padding-top: adapt(35px, 1440px);
    gap: adapt(35px, 1440px);
  }
}


// .debug {
//   color: red;
//   font-size: 0.8rem;
//   margin-top: 5px;
// }

// // DataSettings.module.scss
// .debug {
//   color: red;
//   font-size: 0.8rem;
//   display: block;
// }