@import '../../../../styles/variables';
@import '../../../../styles/functions';

.wrapper_selectData {
  position: relative;
  padding: 0px adapt(12px, 1440px) adapt(12px, 1440px);

  &:hover {
    cursor: pointer;
  }

  /*TABLE*/
  @media (max-width: 991.98px) {
    padding: 0px adapt(22px, 1440px) adapt(22px, 1440px);
  }

  @media (max-width: 767.98px) {
    padding: 0px adapt(32px, 1440px) adapt(32px, 1440px);
  }
}

.block__selectData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color_eight;
  width: adapt(202px, 1440px);
  height: adapt(50px, 1440px);

  /*TABLE*/
  @media (max-width: 991.98px) {
    width: adapt(222px, 1440px);
    height: adapt(60px, 1440px);
  }

  @media (max-width: 767.98px) {
    width: adapt(352px, 1440px);
    height: adapt(90px, 1440px);
  }

  >p {
    font-size: 1rem;
    color: $color_one;

    /*TABLE*/
    @media (max-width: 991.98px) {
      font-size: 1.25rem;
    }
  }

  > img {
    width: adapt(24px, 1440px);
    height: adapt(24px, 1440px);

    /*TABLE*/
    @media (max-width: 991.98px) {
      width: adapt(35px, 1440px);
      height: adapt(35px, 1440px);
    }

    @media (max-width: 767.98px) {
      width: adapt(45px, 1440px);
      height: adapt(45px, 1440px);
    }
  }
}

.block__options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color_three;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);

  >.option {
    font-size: 1rem;
    color: $color_two;
    padding: adapt(14px, 1440px) adapt(16px, 1440px);
    min-height: adapt(50px, 1440px);
    width: adapt(216px, 1440px);

    /*TABLE*/
    @media (max-width: 991.98px) {
      width: adapt(245px, 1440px);
      min-height: adapt(60px, 1440px);
      padding: adapt(20px, 1440px) adapt(26px, 1440px);
      font-size: 1.25rem;
    }
  }

  >.active {
    background-color: rgba(0, 0, 0, .03);
  }

  >.target {
    background-color: rgba(0, 0, 0, .1);
  }
}