@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/animations';

.block__settings {
  width: adapt(500px, 1440px);
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(42, 70, 115, .2), 
              0 2px 2px 0 rgba(42, 70, 115, .14),
              0 1px 5px 0 rgba(42, 70, 115, .12);
              
  /*TABLE*/
  @media (max-width: 991.98px) {
    width: adapt(850px, 1440px);
  }

  @media (max-width: 767.98px) {
    width: adapt(1250px, 1440px);    
  }

  >.block__title {
    width: 100%;
    padding: adapt(12px, 1440px);
    background-color: $color_eleven;
    border-bottom: 1px solid $color_eight;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    /*TABLE*/
    @media (max-width: 991.98px) {
      padding: adapt(22px, 1440px);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    @media (max-width: 767.98px) {
      padding: adapt(32px, 1440px);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;  
    }

    >.title {
      font-size: 1rem;
      font-weight: bold;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      /*TABLE*/
      @media (max-width: 991.98px) {
        font-size: 1.25rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      @media (max-width: 767.98px) {
        font-size: 1.45rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;  
      }
    }
  }
  
  >.form {
    padding: adapt(10px, 1440px) 0px;
    display: flex;
    flex-direction: column;
    gap: adapt(10px, 1440px);

    /*TABLE*/
    @media (max-width: 991.98px) {
      padding: adapt(20px, 1440px) 0px;
      gap: adapt(20px, 1440px);
    }

    @media (max-width: 767.98px) {
      padding: adapt(30px, 1440px) 0px;
      gap: adapt(35px, 1440px); 
    }

    >.button__saveForm {
      margin-left: adapt(15px, 1440px);
      width: adapt(116px, 1440px);
      height: adapt(45px, 1440px);
      text-transform: uppercase;
      border-radius: 2px;
      letter-spacing: 0.5px;
      font-size: 0.8rem;
      cursor: pointer;

      /*TABLE*/
      @media (max-width: 991.98px) {
        font-size: 0.9rem;
        width: adapt(150px, 1440px);
        height: adapt(55px, 1440px);
        margin-left: adapt(25px, 1440px);
      }

      @media (max-width: 767.98px) {
        width: adapt(305px, 1440px);
        height: adapt(100px, 1440px);
        font-size: 1rem;
        margin-left: adapt(35px, 1440px);
      }

      color: $color_three;
				background-color: $color_two;
				box-shadow:
					0 2px 2px 0 rgba(0, 0, 0, 0.14),
					0 3px 1px -2px rgba(0, 0, 0, 0.12),
					0 1px 5px 0 rgba(0, 0, 0, 0.2);

				&:hover {
					background-color: $color_two_light;
					box-shadow:
						0 3px 3px 0 rgba(0, 0, 0, 0.14),
						0 1px 7px 0 rgba(0, 0, 0, 0.12),
						0 3px 1px -1px rgba(0, 0, 0, 0.2);
				}
    }
  }
}
