@import '../../../../styles/variables';
@import '../../../../styles/functions';

.button {
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .25);
  border: 1px solid $color_twelve;
  // padding: 0px adapt(4px, 1440px);
  padding: 0px 4px;
  text-align: center;
  border-radius: 2px;
  background-color: $color_three;
  font-size: 1rem;
  color: $color_one;

  &:hover {
    cursor: pointer;
    background-color: $color_three;
  }

  /*TABLE*/
  @media (max-width: 991.98px) {
    padding: 0px 8px;
    font-size: 1.2rem;
  }

  @media (max-width: 767.98px) {
    padding: adapt(36px, 1440px) adapt(36px, 1440px);
    margin: 0px adapt(36px, 1440px);
    font-size: 1.4rem;
  }
}

.hover_option {
  background-color: $color_twelve;
}